body{
    background-color: rgb(248, 224, 193);
}
.myMain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   

}


.card{
    gap: 20px;

    img{
        height: 100px;
        width: 260px;
        padding-left: 50px;
       
       
    }

    p {
        padding-left: 80px;
    }
}

